$iota-utils-display-res:               true;
$iota-utils-display-breakpoints:       $iota-global-breakpoints;
$iota-utils-display-namespace:         '';
$iota-utils-display-block-name:        'block';
$iota-utils-display-hidden-name:       'hidden';
$iota-utils-display-inline-name:       'inline';
$iota-utils-display-inline-block-name: 'inline-block';

@import 'node_modules/iotacss/utilities/display';
