@import '../styles/component-helper';

@keyframes bg-color-fade {
  0%, 100% { background-color: $color-primary-navy;      }
  12.5%    { background-color: $color-primary-blue;      }
  25%      { background-color: $color-primary-turquoise; }
  37.5%    { background-color: $color-primary-green;     }
  50%      { background-color: $color-primary-yellow;    }
  62.5%    { background-color: $color-primary-orange;    }
  75%      { background-color: $color-primary-red;       }
  87.5%    { background-color: $color-primary-violet;    }
}

$App-background-color:           $color-primary-navy;
$App-color:                      $color-white;
$App-transition-duration:        $transition-duration-extremely-long;
$App-transition-timing-function: $transition-timing-eased;
$App-padding:                    3vw;

.c-App {
  animation-duration:        $App-transition-duration;
  animation-fill-mode:       forwards;
  animation-iteration-count: infinite;
  animation-name:            bg-color-fade;
  animation-timing-function: $App-transition-timing-function;
  background-color:          $App-background-color;
  color:                     $App-color;
  padding:                   $App-padding;
  height:                    100vh;
  width:                     100vw;
}

.c-App__title {
  @include iota-type(10vw, 1.5);

  font-style:  italic;
  font-weight: $font-weight-light;
  text-align:  center;
}
